<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> Title: </b></label> {{product.title}}
    </div>
    <div>
        <label> <b> Description: </b></label> {{product.description}}
    </div>
    <div>
        <label> <b> Image: </b></label> <img src="{{product.image}}"  width="180px"
        height="150px"/>
    </div>
    <div>
        <label> <b> Actual Price: </b></label> {{product.actualPrice}}
    </div>
    <div>
        <label> <b> discountPrice: </b></label> {{product.discountPrice}
    </div>
</div>